/* Blog Content */
.blog-main {
  padding: 2rem;
  background-color: #f9f9f9;
}

.blog-intro {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-intro h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog-intro p {
  font-size: 1rem;
  color: #666;
}
