/* Blog Content */
.blog-main {
  padding: 2rem;
  background-color: #f9f9f9;
}

.blog-intro {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-intro h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog-intro p {
  font-size: 1rem;
  color: #666;
}

.blog-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-post:hover {
  transform: scale(1.05);
}

.blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-post h3 {
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.blog-post p {
  padding: 0 1rem;
  color: #666;
}

/* Mobile Responsiveness */
@media (max-width: 1024px) {
  .blog-post {
    width: 45%;
  }

  .blog-posts {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  /* For tablets and larger mobile phones */
  .blog-posts {
    flex-direction: column;
    align-items: center;
  }

  .blog-post {
    width: 90%;
  }

  .logo {
    width: 50px;
  }

  h1 {
    font-size: 1.2rem;
  }

  .top-right-links ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .top-right-links li {
    margin: 0;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  /* For smaller mobile phones */
  h1 {
    font-size: 1rem;
  }

  .post {
    width: 100%;
  }

  .blog-post {
    width: 100%;
  }

  .blog-post img {
    height: 150px;
  }

  .read-more {
    padding: 0.5rem;
  }
}
